[submodule "i3/i3blocks-scripts/battery"]
	path = i3/i3blocks-scripts/battery
	url = https://github.com/kb100/i3blocks-battery.git
[submodule "i3/bumblebee-status"]
	path = i3/bumblebee-status
	url = https://github.com/emanuel-xavier/bumblebee-status.git
	branch = main
[submodule "suckless/dmenu"]
	path = suckless/dmenu
	url = git@github.com:emanuel-xavier/dmenu.git
	branch = master
[submodule "suckless/surf"]
	path = suckless/surf
	url = git@github.com:emanuel-xavier/surf.git
	branch = main
[submodule "suckless/st"]
	path = suckless/st
	url = git@github.com:emanuel-xavier/st.git
  branch = main
